#tabs {
    margin-top: 46px;
    height: 46px;
}
/* 
#page-content {
    display: flex;
    height: 100vh;
    width: 100vw;
} */

/* .tab-content {
    display: flex;
    height: 100%;
    width: 100%;
} */

.tab-pane.active {
    display: flex !important;
    height: calc(100vh - 92px);
    width: calc(100vw - 10px);
}

.dash-graph {
    height: calc(100vh - 92px);
    width: calc(100vw - 10px);
}

#dashboard-filterpanel-container {
    position: fixed;
    top: 46px;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(8px);
    height: calc(100vh - 46px);
    z-index: 1;
    transition: all 1s;
}

#dashboard-filterpanel-container.toggled {
    right: 0;
}

#dashboard-filterpanel-container.collapsed {
    right: -100%;
}