#filtering-content {
    margin-top: 46px;
    height: calc(100vh - 46px);
    display: flex;
    flex-direction: row;
}

#filtering-table-container {
    flex-grow: 1;
    max-height: calc(100vh - 100px);
    overflow: auto;
    scrollbar-color: rgb(35, 49, 63) rgba(255, 255, 255, 0);
}

.accordion {
    height: auto;
    overflow-y: auto;
    scrollbar-color: rgb(35, 49, 63) rgba(255, 255, 255, 0);
}

#cols-config {
    border: none;
}

#columns-list-div {
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(8px);
    top: 99px;
    left: 55px;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
}

.accordion-button {
    box-shadow: none !important;
    background-color: rgb(236, 240, 241) !important;
    padding: 6px;
}

.accordion-body {
    padding: 6px;
    max-height: 30vh;
    overflow-y:auto;
}

.accordion-collapse {
    background-color: rgb(236, 240, 241) !important;
    max-height: 30vh;
}


.eye-button {
    color: rgb(35, 49, 63)
}

.eye-button:hover {
    color: rgba(35, 49, 63, 0.5);
    border-color: rgba(35, 49, 63, 0.5);
}

.all-value-option {
    font-weight: bold;
}

.interval-components {
    display: flex;
}

.interval-input {
    width: 50%;
}

.interval-slider {
    width: 70%;
    padding: 10px 20px !important;
    color: rgb(35, 49, 63);
}

.rc-slider-handle {
    border-color: rgb(35, 49, 63);
}

.rc-slider-handle-click-focused {
    border-color: rgb(36, 51, 66) !important;
}

.rc-slider-handle-dragging {
    border-color: rgb(36, 51, 66) !important;
    box-shadow: rgba(36, 51, 66, 0.5) 0px 0px 0px 5px !important;
}

.rc-slider-handle:hover {
    border-color: rgb(36, 51, 66);
}


.rc-slider-track {
    background-color: rgb(35, 49, 63);
}


.required .Select-control {
    border-color: rgb(231, 76, 60) !important;
}

.Select-control {
    box-shadow: none !important;
    border-color: rgb(36, 51, 66) !important;
}

.card {
    border-radius: 0px;
}

.navbar .container {
    margin: 0;
    max-width: 100vw !important;
}

.card-body {
    padding: 10px;
}

.config-panel-hidden {
    display:none !important;
}

.table {
    border-collapse: separate !important;
}

th {
    resize:horizontal;
    overflow:auto
}

#cards-col {
    scrollbar-color :rgb(35, 49, 63) rgba(255, 255, 255, 0);
    background-color: rgb(236, 240, 241);
}

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div#loading-spinner {
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 85px;
    height: calc(100vh - 100px);
    z-index: 1;
    padding: auto;
    backdrop-filter: blur(2px);
}

div#loading-spinner.config-visible {
    left: 400px;
    width: calc(100vw - 400px); 
}

div#loading-spinner.config-hidden {
    left: 0px;
    width: 100vw; 
}

.panel-button {
    text-align: center;
    border-radius: 0px;
    border-bottom-width: 3px;
    border-top-width: 0px;
}

#run-query-button {
    margin-left: 2px;
}

.navbar {
    padding: 0px !important;
    width: 100%;
}

.popover {
    border-radius: 0px;
}

#file-name-input {
    width: 100%;
}

.btn-group {
    width: 100%;
}

.btn-group .form-check {
    padding: 0px;
}

.form-check:last-child {
    margin-left: auto;
}

.popover-header {
    border-radius: 0px;
}

.popover-arrow {
    border-color: rgb(236, 240, 241) !important;
    color: rgb(236, 240, 241) !important;
}