#sql-editor-container {
    display: flex;
    height: 40vh;
    min-height: 440px;
    width: 100%;
}

.sql {
    display: flex;
    width: 100%;
    margin-top: 4px;
    height: calc(100% - 40px);
    min-height: 400px;
}

#sql-query-run {
    margin-top: 5px;
}
  
#sql-text-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
}
  
#table-schemas {
    display: flex;
    margin-left: auto;
    flex-basis: auto;
}

#filter-column {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
  

#sql-query-input {
    width: 100% !important;
    height: 100% !important;
    border: 1px solid black;
}


#sql-data-container {
    border: 1px solid black;
    margin: 5px 0;
    width: 100%;
    flex-grow: 1;
    height: calc(60vh - 60px);
    overflow: auto;
}